engine-strict = true
auto-install-peers = false
public-hoist-pattern[] = eslint-plugin-perfectionist
public-hoist-pattern[] = eslint-flat-config-utils
public-hoist-pattern[] = lightningcss
public-hoist-pattern[] = lodash-es
public-hoist-pattern[] = @types/lodash-es
public-hoist-pattern[] = dayjs
