/* stylelint-disable custom-property-pattern */
@layer tdesign-reset {
  :root {
    --td-radius-default: 4px !important;
    --td-radius-large: 8px !important;
  }

  :root,
  :root[theme-mode='light'] {
    --td-font-gray-1: rgb(0 0 0 / 70%) !important;
    --td-brand-color-1: #f2f3ff !important;
    --td-brand-color-2: #cadffc !important;
    --td-brand-color-3: #a1cbfa !important;
    --td-brand-color-4: #79b7f7 !important;
    --td-brand-color-5: #51a2f4 !important;
    --td-brand-color-6: #288ef2 !important;
    --td-brand-color-7: #007aef !important;
    --td-brand-color-8: #005fbb !important;
    --td-brand-color-9: #004586 !important;
    --td-brand-color-10: #002a52 !important;
    --td-gray-color-1: #fafafa !important;
    --td-shadow-1: 0px 0px 6px rgb(0 0 0 / 8%) !important;
    --td-shadow-2: 0px 0px 12px rgb(0 0 0 / 12%) !important;
    --td-shadow-3: 0px 0px 18px rgb(0 0 0 / 24%) !important;
  }
}

body {
  > .t-loading__overlay {
    background-color: rgb(255 255 255 / 10%);
  }

  .t-radio__input,
  .t-checkbox__input {
    width: 20px;
    height: 20px;
  }

  .t-checkbox.t-is-checked .t-checkbox__input::after {
    top: 8px;
    left: 3px;
    width: 8px;
    height: 14px;
  }

  .t-checkbox.t-is-indeterminate .t-checkbox__input::after {
    top: 7px;
    left: -4px;
    width: 26px;
  }

  .t-input--focused,
  .t-range-input.t-is-focused,
  .t-range-input-popup--visible .t-range-input {
    box-shadow: 0 0 0 1px var(--td-brand-color) inset;
  }

  .t-tabs {
    .t-tabs__nav-item {
      /* stylelint-disable-next-line selector-class-pattern */
      .remove-btn {
        position: relative;
        right: 4px;
        padding: 2px;
        margin-left: 0;
        font-size: 22px;
      }

      &:not(.t-is-disabled) {
        /* stylelint-disable-next-line selector-class-pattern */
        .remove-btn {
          &:hover {
            background-color: var(--td-bg-color-container-hover);
          }
        }

        &:not(.t-is-active) {
          &:hover {
            .t-tabs__nav-item-wrapper {
              background-color: inherit;
            }
          }

          .t-tabs__nav-item-wrapper {
            &:hover {
              background-color: var(--td-bg-color-container-hover);
            }
          }
        }
      }
    }

    .t-tabs__operations--left,
    .t-tabs__operations--right {
      bottom: 0;
    }
  }

  .t-dialog__ctx {
    .t-dialog__mask {
      background-color: rgb(58 53 65 / 32%);
    }

    .t-dialog {
      min-width: 320px;
      border-radius: var(--td-radius-default);
      box-shadow:
        rgb(58 53 65 / 8%) 0 11px 15px -7px,
        rgb(58 53 65 / 12%) 0 24px 38px 3px,
        rgb(58 53 65 / 4%) 0 9px 46px 8px;

      &.t-dialog--default {
        padding: var(--td-size-7);
      }

      [class^="t-dialog__body"] {
        &:is(:last-child),
        &:has(> .t-form:is(:last-child)) {
          padding-bottom: 0;
        }
      }

      .t-dialog__footer {
        padding-top: 0;
      }
    }
  }

  [id^="drag-dialog"] {
    .t-dialog {
      cursor: move;

      [class^="t-dialog__body"],
      .t-dialog__footer {
        cursor: initial;
      }
    }
  }

  .t-list-item {
    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  .t-popup__content {
    border: 1px solid var(--td-border-level-2-color);
    box-shadow: var(--td-shadow-2);
  }
}
