.chatbot_wrapper {
  --td-chat-item-gap: 12px;
  --td-chat-item-left-avatar-margin: 0 8px 0 4px;
  --td-chat-item-right-avatar-margin: 0 4px 0 8px;
  --td-chat-item-content-padding: 6px 0 0;

  ::part(t-chat__input__content) {
    border-radius: var(--td-radius-default);

    &:focus-within {
      box-shadow: 0 0 0 1px var(--td-brand-color) inset;
    }
  }
}
